/*Base HTML elements*/

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

::-webkit-scrollbar {
  display: none;
}


body {
  font-family: "Inter", sans-serif !important;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/*Bootstap Adjustments*/

.button-text {
  padding: 9px 15px 9px 15px !important;
}

.img-thumbnail {
  background-color: transparent !important;
  border: none !important;
  border-radius: 10px !important;
}

/*Navigation Bar*/

.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
}

.navbar-nav > li {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-brand img {
  height: 60px;
}

.navbar .btn {
  background: #171717 !important;
  border-radius: 5px;
  color: white !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

.navbar .btn > i {
  font-size: 18px;
}

.navbar .btn:hover {
  background: #252525 !important;
}

/*Hero Section*/

#hero {
  background-color: #f1f5f9 !important;
  min-height: calc(100vh - 86px);
}

#hero .img-thumbnail {
  width: 100%;
  height: 100%;
}

#hero h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  background: linear-gradient(90.06deg, #8669fb 0.08%, #84a6ff 101.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#hero h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

#hero p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/*Sections*/

#about , #skills , #work {
  padding-top: 3rem;
}

/*Section Title*/
section h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

/*Work Title*/
section h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
}

/*Section Sub-Title*/
section h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
}

section img {
  width: 300px;
}

#skills span {
  font-weight: 600;
}

#work .row {
  padding: 3% 0;
}

#work img {
  width: 453px;
}

#designs img:hover {
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.1));
}

.svg-hold {
  padding-bottom: 5rem;
}

section button {
  background: #171717 !important;
  border-radius: 5px;
  color: white !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

.cl {
  padding: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(90.06deg, #8669FB 0.08%, #84A6FF 101.94%);
}

#footer {
  background-color: #f1f5f9 !important;
}

.container-fluid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#footer img {
  width: 65px;
  height: 65px;
}

footer h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
}




a#scroll-btn {
  position: absolute;
  height: 2.4em;
  width: 1.5em;
  border: 3px solid #000000;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 5.5em;
  border-radius: 3em;
  text-align: center;
}
a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 0.2em;
  height: 0.4em;
  width: 0.4em;
  background-color: #000000;
  border-radius: 50%;
  animation: move-down 1.5s infinite;
  text-align: center;
}

@keyframes move-down {
  80% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(1.1em);
    opacity: 0.1;
  }
}
a#scroll-btn:after {
  position: absolute;
  font-family: "Inter", sans-serif !important;
  content: "Learn More";
  display: block;
  width: 7em;
  text-align: center;
  left: -2.841em;
  bottom: -2em;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  a#scroll-btn {
    font-size: 12px;
  }
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #18181b;
  color: white;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 100px;
  font-size: 24px;
}

#top-btn:hover {
  background-color: #2d2d32;
}


