html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif !important;
}

section {
  padding-top: 4.6rem;
}

.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.sub-section {
  font-size: 20px;
  font-weight: 400;
}



#hero {
    background-color: #F1F5F9 !important;
    min-height: calc(100vh - 86px);
}

.navbar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
}

.img-thumbnail {
    background-color: transparent !important;
    border: none !important;
}

.img-context {
  width: 300px;
}

.my-logo {
    height: 60px !important;
}

.resume-btn {
    background: #171717;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.resume-btn:hover {
    background: #252525;
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

.hero-sub {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height:72px;
    background: linear-gradient(90.06deg, #8669FB 0.08%, #84A6FF 101.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.hero-img {
    max-width: 521px;
    max-height: 509px;
}

a#scroll-btn {
    position: absolute;
    height: 2.4em;
    width: 1.5em;
    border: 3px solid #000000;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5.5em;
    border-radius: 3em;
    text-align: center;
  }
  a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: .2em;
    height: .5em;
    width: .3em;
    background-color: #000000;
    border-radius: 50%;
    animation: move-down 1.5s infinite;
    text-align: center;
  }
  @keyframes move-down {
    80% {
      opacity: .6;
    }
    100% {
      transform: translateY(1.1em);
      opacity: .1;
    }
  }
  a#scroll-btn:after {
    position: absolute;
    font-family: 'Inter', sans-serif !important;
    content: "Learn More";
    display: block;
    width: 7em;
    text-align: center;
    left: -2.841em;
    bottom: -2em;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
  }
  #about {
    gap: 1em;
  }
  @media screen and (max-width: 500px) {
    a#scroll-btn {
      font-size: 12px;
    }
  }

#top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #18181b;
    color: white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100px;
    font-size: 24px;
  }
  
  #top-btn:hover {
    background-color: #2d2d32;
  }

  .section-img {
    max-width: 285px;
    max-height: 259px;
  }

  .section-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }

  .contact-btn {
    width: 150px;
  }

  .contact-icons {
    padding-left: 10px;
    padding-right: 10px;
  }

  .email-btn {
    background-color: #fb7369;
    color: white;
  }

  .email-btn:hover {
    background-color: #fa857c;
    color: white;
  }

  .linkedin-btn {
    background-color: #6b69fb;
    color: white;
  }

  .linkedin-btn:hover {
    background-color: #8987fc;
    color: white;
  }

  .work-img {
    border-radius: 10px !important;
  }

  .col-lg-4 .btn {
    position: absolute;
    top: 86%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #18181b;
    color: white;
    font-size: 16px;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
  }

  .col-lg-4 .btn:hover {
    background-color: #2d2d32;
  }

  .col-lg-4 .dribbble-btn {
    position: absolute;
    top: 86%;
    left: 69%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #18181b;
    color: white;
    font-size: 16px;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
  }

  .dribbble-link {
    text-decoration: none;
    color: black;
  }

  .dribbble-link:hover {
    color: #ea4c89;
    text-decoration: none;
  }